.user-msg-dsn{
  background: darkcyan
}

.bottom-frm-bg {
    /* background: steelblue; */
    background: coral;
}

.snd-green {
    background: green;
}

.mic-red {
    background: crimson;
}

.ttl-head {
    color: white;
    font-size: 20px;
}

.dark-btn{
    /* background: lightskyblue; */
    background: orangered;
}

.main-gradient-bg {
    /* background: linear-gradient(45deg, lightskyblue, transparent); */
    background: linear-gradient(45deg, coral, transparent);
}