/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/*@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";*/


/* small helpers */
html, body, #root {
  height: 100%;
}

/* optional: custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 999px;
}
